In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./params.xlsx',sheet_name='pdb file')
df.head()

,Unnamed: 0,Unnamed: 1,Residue name,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,ATOM,1,OFS,PDB,C,1,-56.47,44.20,-18.03,1,20,O1-
1,ATOM,2,CFR,PDB,C,1,-56.37,43.00,-18.35,1,20,C
2,ATOM,3,OFT,PDB,C,1,-56.36,42.55,-19.51,1,20,O1-
3,ATOM,4,CFQ,PDB,C,1,-56.23,41.99,-17.19,1,20,C
4,ATOM,5,CFP,PDB,C,1,-57.62,41.49,-16.79,1,20,C

In [6]:
(df['Residue name'].nunique())

150